<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>My App</title>
  
  <link rel="stylesheet" href="/css/styles.css">


</head>
<body>
  <h1>Catálogo de productos</h1>

  <table>
    <tr>
      <th>Título</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Thumbnail</th>
      <th>Código</th>
    </tr>
    {{#each products}}
    <tr>
      <td>{{this.title}}</td>
      <td>{{this.description}}</td>
      <td>{{this.price}}</td>
      <td><img src="/uploads/{{this.thumbnails}}" alt="Thumbnail" style="width: 50px;"></td>
      <td>{{this.code}}</td>
      <td>
        <button class="btn-delete" data-id="{{this.id}}">Eliminar</button>
      </td>
    </tr>
    {{/each}}
  </table>

</body>
</html>





  



  





